div.nen{
	
	padding:50px;
	margin:5px;
	border-radius:20%;
	border:20px solid #9966CC;
  	 
	margin-left:130px;
	margin-right:130px;
	margin-top:70px;
	margin-bottom:70px;
}

div.nen{
	background-color:#E6E6FA;
	background-color: rgba(240, 240, 260, 0.7);
}

nav,a.thanhba{
		text-align:left;
		border:5px solid #9966CC;
		text-size:60px;
		background-color:#9966CC;
		color:black;
		font-weight:bold;
		text-decoration: none;
		text-align:center;
	}



span{
	
	font-weight:bold;
}  

table,td,th,tr{
	border-collapse:collapse;
	border:2px solid black;
	font-size:100%;
		
}
h1{
	text-align:center;
	border:20px dotted #9966CC;
	border-radius:15%;
	padding:10px;
	margin-left: 22%;
	width:50%;
	
}
p{
	margin-left:15px;
	font-size:115%;
}
b{
	margin-left:10px;
	font-size:140%;
}

tr:hover {
	background-color: #9966CC;
}
p{
	padding:5px;
}


ul,ol{
	font-size:115%;

}
body{
	background-image:url('../assets/hinh3.jpg!d');
	 background-size: cover;
}

footer{
	background-color:#9966CC;
	text-align: center;
	padding:10px;
}
