h2#title{
	text-align:center;
	text-transform: uppercase;
}

div.form-group{
	margin:10px;
	margin-left: 15px;
	font-size:115%;
	
	

}

div.container{
	padding:50px;
	padding-left:90px;
	padding-right:90px;
	
}

form#frmLogin{
	background-color: #b0b0e0;
	padding:10px;
	margin:5px;
	border-radius:10%;
	border:20px solid #9966CC;
}
input.form-control{
	width:100%;
	display:block;
	height:30px;
	border-radius:5%;
}

input.button{
	padding:7px;
	border-radius:5%;
	background-color:#9966CC;
	border:none;
	margin-left:45px;
	margin-top:5px;
	font-size:100%;
	margin-bottom:3%;
	text-align:right;
	

}

h2{
	
	text-align:center;
	border:7px dotted #9966CC;
	border-radius:5%;
	padding:5px;
	margin-left: 25%;
	width:50%;
	margin-bottom:5%;
	margin-top:2%;
	

}

textarea{

	
	width:85%;
	height:200px;
	padding:15px;
	border-radius:20%;
	margin-bottom:3%;
	font-size:16px;
	margin-top:2%;
	margin-left:6%;
}

lable.gioithieu1{
	font-weight:bold;
	
}

.row {
    display: flex;
    align-items: center; /* căn ngang hàng */
	margin-left:30%;
    
}
div.rdgioitinh{
	margin-left:10px;
	margin: 10px;
	text-align:center;
}






div.form-check{
	margin-left:10px;
}

div.txtngaysinh{
	text-align:center;
}

p{
	margin-left:20px;
	font-size:125%;
}

body{
	background-image:url('../assets/nen2.jpg');
	 background-size: cover;
}

footer{
	background-color:#9966CC;
	text-align: center;
	padding:5px;
	
}