h3#title{
	text-align:center;
	text-transform: uppercase;
}

div.form-group{
	margin:10px;
	margin-left: 15px;
	font-size:125%;
	text-align:center;

}

div.container{
	padding:100px;
	margin-left:300px;
	margin-right:300px;
}

form#frmLogin{
	background-color: #b0b0e0;
	padding:50px;
	margin:5px;
	border-radius:40%;
	border:20px solid #9999FF;
	
	
}
input.form-control{
	margin-left:100px;
	display:block;
	
}

input.buttom{
	padding:5px;
	border-radius:5%;
	background-color:#9999FF;
	border:none;
	margin-left:90px;
	margin-top:10px;
	font-size:15px;
	
	

}

body{
	background-image:url('../assets/nen2.jpg');
	 background-size: cover;
}

footer{
	background-color:#9999FF;
	text-align: center;
	padding:5px;
	margin-top:60px;
	
	
}