h3#title{
	text-align:center;
	text-transform: uppercase;
	border:8px dotted #9966CC;
	border-radius:15%;
	padding:8px;
	margin-left: 22%;
	margin-top:-5%;
	width:50%;
}

div.form-group{
	margin:10px;
	margin-left: 25px;
	font-size:125%;
	text-align:center;

}



nav,a.thanhba{
		text-align:left;
		border:5px solid #9966CC;
		text-size:60px;
		background-color:#9966CC;
		color:black;
		font-weight:bold;
		text-decoration: none;
		text-align:center;
	} 
div.container{
	padding:100px;
	margin-left:300px;
	margin-right:300px;
	
}

form#frmLogin{
	background-color:#E6E6FA;
	background-color: rgba(240, 240, 260, 0.7);
	padding:50px;
	margin:5px;
	border-radius:40%;
	border:10px solid #9966CC;
	
	
}
input.form-control{
	margin-left:100px;
	display:block;
	
}

input.buttom{
	padding:5px;
	border-radius:5%;
	background-color:#9966CC;
	border:none;
	margin-left:90px;
	margin-top:10px;
	font-size:15px;
	
	

}

body{
	background-image:url('../assets/hinh3.jpg!d');
	 background-size: cover;
}

footer{
	background-color:#9966CC;
	text-align: center;
	padding:10px;
	margin-top:60px;
	
	
}